#TopExpensesMonthTable
{
	-fx-base:   #3C659D;
    -fx-control-inner-background:    transparent;
    -fx-background-color:    transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;	
}

#TopExpensesMonthTable .table-row-cell:selected 
{
   -fx-background-color:  #3C659D; 
}

#TopExpensesMonthTable .table-row-cell:selected .text
{
       -fx-fill: black;
}

#TopExpensesYearTable
{
	-fx-base:   #3C659D;
    -fx-control-inner-background:    transparent;
    -fx-background-color:    transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;	
}

#TopExpensesYearTable .table-row-cell:selected 
{
   -fx-background-color:  #3C659D; 
}

#TopExpensesYearTable .table-row-cell:selected .text
{
       -fx-fill: black;
}

#sumYearTable
{
	-fx-base:   #3C659D;
    -fx-control-inner-background:    transparent;
    -fx-background-color:    transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;	
}

#sumYearTable .table-row-cell:selected 
{
   -fx-background-color:  #3C659D; 
}

#sumYearTable .table-row-cell:selected .text
{
       -fx-fill: black;
}

.label 
{
	 -fx-font-family: "Segoe UI Light";
	 -fx-font-size: 18pt;
}

.table-view .column-header-background 
{
	-fx-background-color: transparent;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
     -fx-font-size: 16pt;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 25;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}