.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #3c659d;
}

.button:hover {
    -fx-background-color: rgba(60, 101, 157, 0.1);
}

.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: black;
}